# Parte 2 - Sección 7: Regresión con SVM

In [27]:
import pandas as pd

df = pd.read_csv('Position_Salaries.csv')
df

            Position  Level   Salary
0   Business Analyst      1    45000
1  Junior Consultant      2    50000
2  Senior Consultant      3    60000
3            Manager      4    80000
4    Country Manager      5   110000
5     Region Manager      6   150000
6            Partner      7   200000
7     Senior Partner      8   300000
8            C-level      9   500000
9                CEO     10  1000000

In [28]:
X = df.iloc[:, 1:-1].values
y = df.iloc[:, -1].values

In [29]:
from sklearn.preprocessing import StandardScaler

scaler_X = StandardScaler()
scaler_y = StandardScaler()

X = scaler_X.fit_transform(X)
y = scaler_y.fit_transform(y.reshape(len(y), 1))

In [30]:
from sklearn.svm import SVR

regressor = SVR(kernel= 'rbf')
regressor.fit(X, y)
y_pred = regressor.predict(X)

c:\Users\mario\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\utils\validation.py:1339: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [32]:
test = regressor.predict(scaler_X.transform([[6.5]])).reshape(-1, 1)
scaler_y.inverse_transform(test)

array([[170370.0204065]])